@charset "UTF-8";

@font-face {
    font-family: 'MinSans-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

div.bestTripText{
	font-family: 'MinSans-Medium' !important;
	align-items: center;
  	display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: #212529;
}

div.bestTripText div.trip-category{
	width: 210px;
    height: 230px;
    background-color: #ffffea;
    padding-left: 58px;
    padding-top: 58px;
    margin-right: 800px;
    position: sticky;
    top: 100px;
}

div.bestTripText div.trip-category a.tripcategory{
	color: gray;
	font-weight: 650;
	font-size: 17px;
	cursor: pointer;
}

div.bestTripText div.trip-category a.best-category {
	color: #212529;
}

div.bestTripText div.trip-category > a:hover{
	color: #212529;
	transition: 0.3s ease; 
}

div.bestTripText div.category-title {
	display: inline-block;
    position: relative;
    left: 87px;
    top: -200px;
}

div.bestTripText div.category-title hr.title-line{
	margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee; 
    width: 734px;
    margin-left: 0;
}

div.bestTripText div.category-title span.main-title{
	font-weight: bold;
	font-size: 25px;
	color: #212529;
}

div.bestTripText div.category-title span.sub-title{
	font-size: 0.8em;
	color: #afafaf;
}

div.bestTripText div.category-title span.title-content{
	float: right;
	font-size: 0.8em;
	padding-left: 266px;
	text-align: right;
	line-height: 1.3;
}

div.bestTripText div.trip-content{
	width: 230px;
    height: 270px;
    border: 1px solid #e6e6fa;
    border-radius: 10px;
    position: relative;
    left: 78px;
    top: -170px;
    margin-left: 16px;
    margin-bottom: 47px;
}

div.bestTripText div.trip-content img.trip-img{
	width: 100%;
	height: 170px;
	border-top-left-radius : 10px;
	border-top-right-radius : 10px;
	cursor: pointer;	
	margin-bottom: 10px;
}

.listtop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.bestTripText div.trip-content span.trip-name{
	font-size: 11pt;
    font-weight: bold;
    cursor: pointer;
    margin-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
}
.best-star-rating {
    margin-right: 10px;
}
div.bestTripText div.trip-content span.trip-explanation{
	font-size: 0.8em;
    margin-left: 57px;
    position: relative;
    top: 15px;
    right: 39px
}

div.bestTripText div.trip-content span.trip-region{
	font-size: 0.8em;
    color: #2bae66;
    cursor: pointer;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 15px;
}

div.bestTripText div.trip-content span.trip-region > img{
	width: 12px;
	position: relative;
    top: 1px;
}
div.trip-explanation{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    padding: 15px 10px;
    width: 220px;
    font-size: 10pt;
}
.besttrip-reviewstar{
	float:right;
	border:solid 0px #ccc;
  display:flex;
  flex-direction: row-reverse;
  font-size:0.7em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.besttrip-reviewstar input{
	display:none;
}
.besttrip-reviewstar label{
	color:#ccc;
}
.listbtm {
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.listbtm > img {
    margin-right: 5px;
    width: 13px;
}