@charset "UTF-8";

@font-face {
    font-family: 'MinSans-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

div.boardDetailPage-main{
	font-family: 'MinSans-Medium' !important;
	align-items: center;
  	display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    color: #212529;
}

div.boardDetailPage-main table.boardDetailPage{
	margin-top: 45px;
}

div.boardDetailPage-main span.boardtitle{
	font-size: 1.5em;
    font-weight: 550;
    line-height: 1.3;
}

div.boardDetailPage-main span.boardwriter{
	font-weight: 550;
	line-height: 1.3;
}

div.boardDetailPage-main span.boardinfo{
	color: #afafaf;
	line-height: 1.3;
}

div.boardDetailPage-main span.likes{
	float: right;
    font-size: 10pt;
    margin-top: -55px;
    margin-right: 17px;
}

div.boardDetailPage-main span.likes-img{
	cursor: pointer;
	float: right;
    position: relative;
    top: -58px;
    right: 30px;
    font-size: 14pt;
}


div.boardDetailPage-main span.writer-id, span.boardowner-id, span.comment-writer{
	font-weight: 600;
}

div.boardDetailPage-main span.board-upd{
    font-weight: 550;
    font-size: 12pt;
    cursor: pointer;
    float: right;
    margin-top: -51px;
    margin-right: 42px;
}

div.boardDetailPage-main span.board-del{
	font-weight: 550;
    font-size: 12pt;
    cursor: pointer;
    float: right;
    margin-top: -51px;
    margin-right: 9px;
}

div.boardDetailPage-main span.comment-del{
    font-size: 14px;
    cursor: pointer;
    float: right;
    font-weight: 550;
    margin-right: 38px;
}

div.boardDetailPage-main span.comment-upd{
    font-size: 14px;
    cursor: pointer;
    float: right;
    font-weight: 550;
    margin-right: -61px;
}

div.boardDetailPage-main hr.underline{
	width: 895px;
}

div.boardDetailPage-main td.list hr.underline{
	width: 895px;
	margin-top: 21px;
}

div.boardDetailPage-main pre.content-body{
	display: block;
    padding: 16px 9.5px 9.5px 9.5px;
    font-size: 13pt;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    border: 0px;
    width: 900px;
    margin-bottom: 50px;
    background-color: #fff;
    white-space: pre-wrap;
}

div.boardDetailPage-main span.comment-count{
	color: #afafaf;
}

div.boardDetailPage-main span.comment-head{
	padding-left: 17px;
    font-size: 1.3em;
}

div.boardDetailPage-main span.comment-day{
	float: right;
    margin-right: 10px;
    font-size: 0.8em;
    color: #afafaf;
}

div.boardDetailPage-main span.comment-content{
	position: relative;
    top: 11px;
    line-height: 1.2;
}

div.boardDetailPage-main div.comment-group{
    width: 800px;
    margin-left: 50px;
    margin-top: 25px;
}

div.boardDetailPage-main span.boardowner-id{
    margin-left: 55px;
}

div.boardDetailPage-main span.boardowner-writer{
	color: red;
	font-size: 0.9em;
}

div.boardDetailPage-main span.boardowner-content{
	margin-left: 55px;
	position: relative;
    top: 8px;
}

div.boardDetailPage-main span.comment-writer{
	margin-left: 5px;
}

div.boardDetailPage-main input.commentbox{
    width: 801px;
    height: 82px;
    border: 1px solid #afafaf;
}

div.boardDetailPage-main button.btnreply{
	margin-top: 27px;
	border: 1px solid #afafaf;
    background-color: #fff;
    width: 45px;
    height: 26px;
    font-size: 10pt;
}

div.boardDetailPage-main button.comment-insertbtn{
	float: right;
	border: 1px solid #afafaf;
    background-color: #fff;
    width: 50px;
    height: 30px;
    position: relative;
    right: -1px;
    top: -5px;
    font-size: 11pt;
}


div.boardDetailPage-main button.listbtn{
    float: right;
    border: 1px solid #afafaf;
    background-color: #fff;
    width: 70px;
    height: 40px;
  	font-size: 1.1em;
  	margin-bottom: 18px;
}

div.boardDetailPage-main div.replyComment{
	margin-left: 50px;
	margin-bottom: 30px;
}
div.boardDetailPage-main div.replyform{
	
	margin-bottom: 30px;
}

div.boardDetailPage-main input.reply{
	width: 750px;
}
div.boardDetailPage-main span.noReply{
	font-size: 10pt;
	margin-left: 10px;
	color: gray;
	cursor: pointer;
}

.likes-imgAfter{
	color: blue;
    font-weight: bold;
}

div.boardDetailPage-main div.imagelist{
	width: 800px;
	height: 100px;
	margin-bottom: 20px;
	margin-left: 10px;
}
div.boardDetailPage-main img.imagelist{
	width: 100px;
	height: 100px;
	cursor: pointer;
}


div.boardDetailPage-main .imagemodal {
    display: none;
    z-index: 500;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
div.boardDetailPage-main .modalBox {
    position: relative;
    text-align: center;
    top : 25%;
    left : 50%;
    position : sticky;
}
div.boardDetailPage-main p img:hover{
    cursor: -webkit-zoom-in;
}
