@charset "UTF-8";

@font-face {
    font-family: 'MinSans-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MinSans-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MinSans-Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

div.login-end{
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  margin-top: 50px;
  margin-bottom: 80px;
  width: 100%;
  height: 100%;
  color: #212529;
  font-family: MinSans-Medium;
}

td.login-end-email{
	display: inline-block;
    position: relative;
    color: #212529;
    font-family: 'MinSans-Medium';
    font-size: 16pt;


}

td.login-end-info{
    position: relative;
    color: #212529;
    font-family: 'MinSans-Medium';
    font-size: 16pt;
    
}

td.login-end-end{
    position: relative;
    color: #2bae66;
    font-family: 'MinSans-Medium';
    font-size: 16pt;


}

hr.login-end-line{	
	width: 50px;
	border: 0;
	height: 1px;
	background-color: #E6E6E6;
	margin-left: 10px;
	margin-right: 10px;	
	margin-bottom: 7px;	
}

span.login-end-title{
	position: relative;
	font-weight: bold;
    font-size: 20pt;
    color: #212529;

}

span.login-end-subtitle{
	position: relative;
    font-family: 'MinSans-Medium';
    font-size: 11pt;
    color: #212529;
    margin-top: 60px;

}


img.login-end{
    position: relative;	
	margin-bottom: -5px;
}

div.login-end-edong-title{
	
	margin-top:100px;
	
}

div.login-end-edong-subtitle{
	
	margin-top:30px;
	
}

button.btn-login-end-login{
	border-radius: 40px;
    width: 120px;
   	height: 45px;    
    color: #fff;
    background-color: #33b679;
 	border: 1px;
	font-size: 15px;
	margin-top: 80px;
}



