@charset "UTF-8";

@font-face {
    font-family: 'MinSans-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

div.mainofsearch{
   font-family: 'MinSans-Medium' !important;
   align-items: center;
     display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: #212529;
}

div.search-allcontent{
    width: 788px;
    margin-top: 25px;
    margin-bottom: 50px;
}

span.sresult{
   margin-top: 40px;
    font-size: 30px;
}

div.search-content{
   border: 1px solid #e6e6fa;
   border-radius: 10px;
   width: 230px;
    height: 270px;
    float: left;
    margin-left: 25px;
    margin-bottom: 25px;
}

img.search-img{
   width: 100%;
   height: 185px;
   border-top-left-radius : 10px;
   border-top-right-radius : 10px;
   cursor: pointer;   
   margin-bottom: 14px;
}

div.searchResult-box > div.search-name{
    font-family: 'MinSans-Medium';
    font-size: 11pt;
    font-weight: bold;
    cursor: pointer;
    margin-left: 15px;
}

div.searchResult-box > div.search-name > a{
   width: 135px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchResult-box > div {display:inline-block;}
.search-name a{display:inline-block;}
.searchResult-box > div:last-child{padding-right:0;float: right;} 

.searchResult-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

span.search-region{
    font-size: 11pt;
    color: #2bae66;
    font-family: 'MinSans-Medium';
    width: 181px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.searchFailText{
    font-size: 21pt;
    font-weight: 550;
    margin-top: 300px;
    margin-bottom: 460px;
    text-align: center;
}

.searchnoresult{
    font-size: 28pt;
    font-weight: 550;
    margin-top: 200px;
    margin-bottom: 416px;
    text-align: center;
}

